<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>About</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="presentPopover($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="about-header">
    <img src="assets/img/appicon-white.png" alt="krishna steel">
  </div>
  <div padding class="about-info">
    <h2>Shree Krishna Steel</h2>

    <!-- <ion-list no-lines>
      <ion-item>
        <ion-icon name="calendar" item-start></ion-icon>
        <ion-label>Date</ion-label>
        <ion-datetime displayFormat="MMM DD, YYYY" max="2056" [(ngModel)]="conferenceDate"></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-icon name="pin" item-start></ion-icon>
        <ion-label>Location</ion-label>
        <ion-select>
          <ion-option value="madison" selected>Madison, WI</ion-option>
          <ion-option value="austin">Austin, TX</ion-option>
          <ion-option value="chicago">Chicago, IL</ion-option>
          <ion-option value="seattle">Seattle, WA</ion-option>
        </ion-select>
      </ion-item>
    </ion-list> -->

    <h5>
       Bell, Bej, Ring, Pillar, Bulister, 202, 304, Railing Accessories
      </h5>
    <p>
      The Ionic Conference is a one-day conference featuring talks from the
      Ionic team. It is focused on Ionic applications being built with
      Ionic 2. This includes migrating apps from Ionic 1 to Ionic 2,
      Angular concepts, Webpack, Sass, and many other technologies used
      in Ionic 2. Tickets are completely sold out, and we’re expecting
      more than 1000 developers – making this the largest Ionic
      conference ever!
    </p>
<div class="row">
  <div class="col-md-12 col-xs-12">
    <h1 class="profile_h1"> &nbsp; Our Profile </h1>
    <p class="profile_p">
      we
      <strong> Shree Krishna Steel Corporation”</strong> are a renowned
      <strong>Manufacturer</strong> and
      <strong>Supplier</strong> of an exclusive array of
      <strong>SS Furniture Accessories, Furniture Pillars,</strong> etc. These products are Manufactured and designed by our experts
      using superior quality material with the support of state-of-the-art technology in compliance with set industry standards.
      The offered products are highly appreciated by our valued customers for their features like unresolved quality, Long
      Life, High quality Steel, Rust resistance, dimensionally accurate, high tensile strength, at market leading price to
      the clients.
      <br>
    </p>
    <p>Under the direction of our
      <strong>Leader, “Mr. Rajesh Modi (Proprietor)",</strong> we are able to attain maximum satisfaction of our precious patrons.
      His enthusiasm, management skills and industry experience has enabled us to step forward towards success and perform
      at our best.</p>
    <p></p>
  </div>

  <div class="col-md-12 col-xs-12">
    <h1 class="profile_h1">&nbsp; Our Team </h1>
    <p class="profile_p">
      Due to the expertise of our assiduous team of professionals, we have earned an admirable reputation in the field of manufacturing
      and supplying flawless range of door handle, door aldrop, curtain bracket, cabinet handle, glass stud and door eye.
      Our team of professional holds vast experience and helps us in catering the diverse requirements of clients in the
      most effectual manner. Moreover, all our professionals are easily adaptable to the latest changes taking place in the
      industry.
    </p>
  </div>

  <div class="col-md-12 col-xs-12">
    <h1 class="profile_h1"> &nbsp; Why Us? </h1>
    <p class="profile_p">
      We are a famous and dependable firm that is actively committed towards offering premium quality range of products in numerous
      specifications within minimum time period and at genuine rates.
      <br> We are a famous and dependable firm that is actively committed towards offering premium quality range of products
      in numerous specifications within minimum time period and at genuine rates.

      <br>

      <strong>Few of the essential factors that help us to become the prime choice of the patrons are listed below:</strong>
    </p>
    <p>
    </p>
    <ul>
      <li>State-of-the-art infrastructural base </li>
      <li>Qualitative products </li>
      <li>Dexterous team of professionals</li>
      <li>Client-centric approach</li>
      <li>Positive records </li>
      <li>Excellent transport &amp; logistic facility</li>
      <li>Economical price range </li>
      <li>Prompt delivery </li>
    </ul>
    <p></p>
  </div>

  <div class="col-md-12 col-xs-12">
    <h1 class="profile_h1"> &nbsp; Quality Assurance </h1>
    <p class="profile_p">
      Since our inception in this domain, quality has always been our major aim and our capable professionals enable us in delivering
      impeccable quality products to our clients in various specifications. The offered products are meticulously tested
      on quality standards set up by regulatory bodies in order to deliver perfect range of product. Our quality controllers
      keeps close eye on different stages of production, right from procurement of raw material till the dispatch of products.
    </p>
  </div>

</div>
  </div>
</ion-content>
