// Styles for all of the user pages:
// Login, Signup, Support
page-user {
    .logo {
        padding: 20px 0;
        min-height: 200px;
        text-align: center;

        
    }

    .list {
        margin-bottom: 0;
    }
}

page-user .logo img {
  width: 100% !important;
  padding: 30px !important;

}
