<ion-header>
    <ion-navbar>
        <ion-title>{{offer?.title}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding class="speaker-detail">
    <div text-center *ngIf="offer">
    <img [src]="offer.img" [alt]="offer.title">
        <br>
        <p>{{offer?.desc}}</p>
    </div>

    
</ion-content>