<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Contact Us</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="outer-content speaker-list">
  <ion-list [virtualScroll]="speakers">
    <ion-grid fixed>
      <ion-row align-items-stretch>

        <ion-col col-sm-12 col-lg-6 col-md-6 align-self-stretch align-self-center *virtualItem="let speaker" approxItemHeight="457px">

          <ion-card class="speaker-card">
           
            <ion-card-content class="outer-content">
              <ion-list>
                <ion-item ion-item>
                  <h1>Address</h1>
                </ion-item>
                <button ion-item (click)="goToSpeakerDetail(speaker)">
                  <p>C -2, Janak Estate. 
                    <br> Opp. CHakudiya Mahadev Garden, <br>Chakudiya Mahadev Mandir Road, <br>Rakhiyal, Ahmedabad - 380 023, <br>Gujarat,
                  (INDIA).</p>
                </button>
              </ion-list>

              <ion-list>
                <ion-item ion-item>
                  <h2>Contact Person</h2>
                </ion-item>
                <button ion-button clear small color="primary" icon-start (click)="openContact(speaker)">
                  <ion-icon name='chatboxes'></ion-icon>Mr. Rajesh Modi : +91 90999 77468
                </button>

                
              </ion-list>


              <ion-list>
                <ion-item ion-item>
                  <h2>Mail us</h2>
                </ion-item>
              
                <button ion-button clear small color="primary" icon-start (click)="openContact(speaker)">
                  <ion-icon name='logo-google'></ion-icon>Email : info@steelfurniture.co
                </button>
              
              </ion-list>

              <ion-list>
                <ion-item ion-item>
                  <h2>Find us on social media</h2>
                </ion-item>
              
                  <button ion-button clear small color="primary" icon-start (click)="goToSpeakerTwitter(speaker)">
                    <ion-icon name="logo-twitter"></ion-icon>
                    Twitter
                  </button>

              </ion-list>

               

            </ion-card-content>

            
          </ion-card>



        
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
</ion-content>
