
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Offers</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="outer-content speaker-list">
  <ion-list>
    <ion-grid fixed>
      <ion-row align-items-stretch>

        <ion-col col-12 col-md-6 align-self-stretch align-self-center *ngFor="let offer of mOffers" approxItemHeight="457px">

          <ion-card class="speaker-card" (click)="goToOfferDetail(offer)">
            <ion-card-header>
              
                
              
                <ion-list >
                
                    <ion-item class="text-center">
                        <img [src]="offer.img" [alt]="offer.title">
                        <br>
                        <h2 text-align: center >{{offer.title}}</h2>
                    </ion-item>
                </ion-list>

                
            </ion-card-header>

            <ion-card-content class="outer-content">
              <ion-list>
                  <!-- <p>{{offer.desc}}</p> -->
                
              </ion-list>
            </ion-card-content>


          </ion-card>

        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
</ion-content>



<!-- <ion-header>
    <ion-navbar no-border-bottom>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>

        <ion-segment [(ngModel)]="segment" >

            <ion-segment-button value="all">Offers</ion-segment-button>
            
        </ion-segment>


    </ion-navbar>


</ion-header>

<ion-content>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-list>

        <ion-item-group *ngFor="let offer of mOffers">

          
            <ion-list *ngIf="segment === 'all'">

                <ion-item  (click)="goToOfferDetail(offer)">
                    <ion-thumbnail item-start>
                    <img src="{{offer.img}}">
                    </ion-thumbnail>
                    <h2>{{offer.title}}</h2>
                </ion-item>
            </ion-list>

        </ion-item-group>
    </ion-list>


</ion-content> -->