$categories: (
 ionic: color($colors, primary),
 angular: #AC282B,
 communication: #8E8D93,
 tooling: #FE4C52,
 services: #FD8B2D,
 design: #FED035,
 workshop: #69BB7B,
 food: #3BC7C4,
 documentation: #B16BE3,
 navigation: #6600CC,
);

@function auxiliary-categories() {
  @return map-remove($categories);
}

  page-home {
  
  @each $track, $value in auxiliary-categories() {
   
    ion-item-sliding[track=#{$track}] ion-label {
     border-left: 2px solid $value;
     padding-left: 10px;
   }

  }


  .home-img.grid {
    padding: 0px 100px !important;
   
  }

.home-img.grid {
  padding: 5px   30px;
  background: #f5f5f5;
  box-shadow: 0px 0px 2px 2px #ddd;
}
ion-grid.home-slider.grid {
  background: #fefefe;
}

.padding.card img {
  text-align: center;
  padding: 40px 50px 10px 50px;
}

.padding.card h2 {
  padding: 0px 10px 15px 10px;
  text-align: center;
}
.home-menu h2 {
  text-align: center;
}

.padding.card.card-md {
  margin: 8px 8px;
}

.home-social img{
  padding: 30px !important;

}

}
