
<ion-header>
  
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Dashboard</ion-title>
  </ion-navbar>

    
</ion-header>

<ion-content>


  
<ion-grid class="home-img">
    <ion-row>
      <ion-col col-12>
         <img item-center src="assets/img/black.png">
      </ion-col>
    </ion-row>
</ion-grid>


<!-- <ion-grid class="home-slider">
  <ion-row>
    <ion-col col-12>
      <ion-slides autoplay="500" loop="true" speed="1500">
        <ion-slide *ngFor="let product of products">
          <img src="{{product.img_1}}">
        </ion-slide>
      </ion-slides>

    </ion-col>
  </ion-row>
</ion-grid> -->




<ion-grid class="home-menu">

    
  <ion-row>
    <!-- col-6 -->
    <ion-col col-6 >
      <ion-card (click)="goToPage('Products')" class="padding">
        <img src="assets/img/products.png" class="padding">
        <ion-item>
          <h2 item-center>Products</h2>
        </ion-item>
      </ion-card>
    </ion-col>
    <!-- col-6 -->

    <!-- col-6 -->
    <ion-col col-6>
      <ion-card (click)="goToPage('Profile')" class="padding">
        <img src="assets/img/profile.png" >
        <ion-item>
          <h2 item-center>Profile</h2>
        </ion-item>
      </ion-card>
    </ion-col>
    <!-- col-6 -->

  </ion-row>

  <ion-row>
    <!-- col-6 -->
    <ion-col col-6>
      <ion-card (click)="goToPage('Contact')" class="padding">
        <img src="assets/img/contact.png" class="padding">
        <ion-item>
          <h2 item-center>Contact us</h2>
        </ion-item>
      </ion-card>
    </ion-col>
    <!-- col-6 -->
  
    <!-- col-6 -->
    <ion-col col-6>
      <ion-card (click)="goToPage('Enquiry')" class="padding">
        <img src="assets/img/enquiry_person.png" class="padding">
        <ion-item>
          <h2 item-center>Enquiry</h2>
        </ion-item>
      </ion-card>
    </ion-col>
    <!-- col-6 -->
  
  </ion-row>



  <ion-row>
    <!-- col-6 -->
    <ion-col col-6>
      <ion-card (click)="goToPage('Offers')" class="padding">
        <img src="assets/img/offers.png" class="padding">
        <ion-item>
          <h2 item-center>Offers</h2>
        </ion-item>
      </ion-card>
    </ion-col>
    <!-- col-6 -->
  
    <!-- col-6 -->
    <ion-col col-6>
      <ion-card (click)="goToPage('About')" class="padding">
        <img src="assets/img/about.png" class="padding">
        <ion-item>
          <h2 item-center>About us</h2>
        </ion-item>
      </ion-card>
    </ion-col>
    <!-- col-6 -->

    <!-- col-6 -->
    <ion-col col-6>
      <ion-card (click)="goToPage('Map')" class="padding">
        <img src="assets/img/contact_us.png" class="padding">
        <ion-item>
          <h2 item-center>About us</h2>
        </ion-item>
      </ion-card>
    </ion-col>
    <!-- col-6 -->
  
  </ion-row>

  <ion-row>
    <ion-col col-3>
      <ion-item>
        <h2>Share</h2>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row class="home-social">
    <!-- col-3 -->
    <ion-col col-4 (click)="onMailClick()">
        <img src="assets/img/gm.png" class="padding">
      
    </ion-col>
    <!-- col-3 -->
    <!-- col-3 -->
    <ion-col col-4 (click)="onPhoneClick()">
        <img src="assets/img/wt.png" class="padding">
      
    </ion-col>
    <!-- col-3 -->
    <!-- col-3 -->
    <ion-col col-4 (click)="onWebsiteClick()">
        <img src="assets/img/tw.png" class="padding">
    </ion-col>
    <!-- col-3 -->
  </ion-row>
  <ion-row>
    <!-- col-3 -->
    <ion-col col-12>
        <h2>&nbsp;</h2>
      
    </ion-col>
    <!-- col-3 -->
  </ion-row>
</ion-grid>

</ion-content>