<ion-header>

	<ion-navbar>
		<button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
		<ion-title>Enquiry</ion-title>
	</ion-navbar>

</ion-header>


<ion-content>
	<div class="logo">
		<img src="assets/img/enquiry.jpg" alt="Krishna Steel">
	</div>

	<form #submitForm="ngForm" novalidate>
		<ion-list no-lines>
			<ion-item>
				<ion-label stacked color="primary">Enter your support message below</ion-label>
				<ion-textarea [(ngModel)]="supportMessage" name="supportQuestion" #supportQuestion="ngModel" rows="6" required></ion-textarea>
			</ion-item>
		</ion-list>

		<p ion-text [hidden]="supportQuestion.valid || submitted === false" color="danger" padding-left>
			Support message is required
		</p>

		<div padding>
			<button (click)='submit(submitForm);presentLoading()' ion-button block type="submit">Submit</button>
		</div>
	</form>
</ion-content>
