<ion-header>
  <ion-navbar>
    <ion-title>{{product?.name}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="speaker-detail">
  <div text-center *ngIf="product">
    <img [src]="product.img_1" [alt]="product.name"><br>

    <ion-list>
        
      <h2>{{product.name}}</h2>
      <h6 item-left> ₹ {{product.price}} / Piece </h6>
      <p>{{product.desc}}</p>
      
    </ion-list>

  
  </div>

  
</ion-content>

<ion-footer>
  <ion-toolbar>
    <button ion-button (click)="addInquiry(product)" full>Send Enquiry</button>
  </ion-toolbar>
</ion-footer>
