
// .speaker-detail img {
//   max-width: 140px;
//   border-radius: 50%;
// }

.speaker-detail p {
  color: #60646B;
}

.speaker-detail img {
  width: 100% !important;
  border-radius: none !important;
  height: 230px !important;
}
