<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Products</ion-title>
  </ion-navbar>

<ion-segment class="SwipedTabs-tabs">
  <ion-segment-button *ngFor='let page of pages; let i = index ' value="IngoreMe" (click)="selectTab(i)" [ngClass]='{ "SwipedTabs-activeTab" : ( this.SwipedTabsSlider  && ( this.SwipedTabsSlider.getActiveIndex() === i || (  page.length -1 === i&& this.SwipedTabsSlider.isEnd()))) }'>
    {{page.name}}
  </ion-segment-button>
</ion-segment>
<!-- here is our dynamic line  "indicator"-->
<div id='indicator' class="SwipedTabs-indicatorSegment" [ngStyle]="{'width.%': 0 }"></div>

</ion-header>

<ion-content>
 
  

  
<ion-grid>
  <ion-row>

  <ion-slides #SwipedTabsSlider (ionSlideDrag)="animateIndicator($event)" (ionSlideWillChange)="updateIndicatorPosition()"
    (ionSlideDidChange)="updateIndicatorPosition()" (pan)="updateIndicatorPosition()" [pager]="false">
    <ion-slide *ngFor="let page of pages">
          <ion-grid >
            <ion-row >
              <ion-col col-12 *ngFor="let product of products">
                <ion-card  *ngIf="product['product_cat_id'] == page['product_cat_id']" (click)="goToProductDetail(product)">
                    <img src="{{product.img_1}}">
                    <ion-item>
                    <h2 item-left> ₹ {{product.price}} / Piece </h2>


                      <ion-checkbox item-right color="dark" (ionChange)="handleChange(product)"></ion-checkbox>
                    </ion-item>
                </ion-card>
            </ion-col>
            </ion-row>
        </ion-grid>
    </ion-slide>
  </ion-slides>
  
</ion-row>
</ion-grid>



<!-- 
<ion-grid *ngIf="segment === '3'">
  <ion-row>
    <ion-col col-6 *ngFor="let product of cat_t">
      <ion-card (click)="goToProductDetail(product)">
        <img src="{{product.img_1}}">
        <ion-item>
          <h2 item-left>{{product.name}}</h2>
          <ion-checkbox item-right color="dark" (ionChange)="handleChange(product)"></ion-checkbox>
        </ion-item>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>


<ion-grid *ngIf="segment === '4'">
  <ion-row>
<ion-col col-6 *ngFor="let product of cat_frth">

      <ion-card (click)="goToProductDetail(product)">
        <img src="{{product.img_1}}">
        <ion-item>
          <h2 item-left>{{product.name}}</h2>
          <ion-checkbox item-right color="dark" (ionChange)="handleChange(product)"></ion-checkbox>
        </ion-item>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid> -->

<ion-fab bottom right (click)="onSendInquiry();presentLoading()">
  <button ion-fab mini>
    <ion-icon name="send" ></ion-icon>
  </button>
</ion-fab>

</ion-content>