$categories: (
 ionic: color($colors, primary),
 angular: #AC282B,
 communication: #8E8D93,
 tooling: #FE4C52,
 services: #FD8B2D,
 design: #FED035,
 workshop: #69BB7B,
 food: #3BC7C4,
 documentation: #B16BE3,
 navigation: #6600CC,
);

@function auxiliary-categories() {
  @return map-remove($categories);
}

page-schedule {
  
  @each $track, $value in auxiliary-categories() {
   
    ion-item-sliding[track=#{$track}] ion-label {
     border-left: 2px solid $value;
     padding-left: 10px;
   }

  }


  img{
    width: 100% !important;

  }
  ion-fab[bottom] {
    bottom: 45px;
    left: 0px;
  }

   .SwipedTabs-indicatorSegment {
     -webkit-transition: 0.3s all;
     -moz-transition: 0.3s all;
     -o-transition: 0.3s all;
     transition: 0.3s all;
     transform-origin: top 0 left 0;
     height: 1px;
     position: relative;
     top: -2px;
     background-color: black !important;
   }

   .SwipedTabs-tabs ion-segment-button {
     border: none !important;
     color: gray!important;
     background-color: white!important;
   }

   .SwipedTabs-tabs ion-segment-button.SwipedTabs-activeTab {
     color: black !important;
   }

  //  .SwipedTabs-tabs {
  //    border-bottom: solid 1px #e6e6e6 !important;
  //  }

// .toolbar-content-md {
//     width: auto !important;
//     overflow: scroll !important;
   
// }



page-schedule ion-segment-button.segment-button {
  width: 33% !important;
  padding: 13px !important;
  display: inline;
}
ion-segment {
    width: 100% !important;
    display: inline-block !important;
    overflow: scroll !important;
    height: 50px !important;
    line-height: 4 !important;

}

.segment-button {
  display: inline;
  padding: 20px !important;
}
::-webkit-scrollbar {
  display: none;
}




}
