<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Account</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="outer-content">
  <div padding-top text-center *ngIf="fname">
    <img src="http://www.gravatar.com/avatar?d=mm&s=140" alt="avatar">
    <h2>{{fname}}</h2>

    <form #accountForm="ngForm" novalidate>
      <ion-list no-lines>
        <ion-item>
          <ion-label stacked color="primary">First Name</ion-label>
          <ion-input [(ngModel)]="fname" name="fname" type="text" #user="ngModel" spellcheck="false" autocapitalize="off" required>
          </ion-input>
        </ion-item>
        <p ion-text [hidden]="fname || submitted == false" color="danger" padding-left>
          First name is required
        </p>

        <ion-item>
          <ion-label stacked color="primary">Last Name</ion-label>
          <ion-input [(ngModel)]="lname" name="lname" type="text" #user="ngModel" spellcheck="false" autocapitalize="off" required>
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-label stacked color="primary">Email</ion-label>
          <ion-input [(ngModel)]="email" name="email" type="email" #user="ngModel" required>
          </ion-input>
        </ion-item>
        <p ion-text [hidden]="email || submitted == false" color="danger" padding-left>
          Email is required
        </p>




        <ion-item>
          <ion-label stacked color="primary">Phone</ion-label>
          <ion-input [(ngModel)]="mobile" name="mobile" type="numeric" #user="ngModel" required>
          </ion-input>
        </ion-item>
        <p ion-text [hidden]="mobile || submitted == false" color="danger" padding-left>
          Phone is required
        </p>


        <ion-item>
          <ion-label stacked color="primary">Password</ion-label>
          <ion-input [(ngModel)]="pass" name="pass" type="password" #user="ngModel" required>
          </ion-input>
        </ion-item>
        <p ion-text [hidden]="pass || submitted == false" color="danger" padding-left>
          Password is required
        </p>


        <ion-item>
          <ion-label stacked color="primary">Address</ion-label>
          <ion-input [(ngModel)]="address1" name="address1" type="text" #user="ngModel" required>
          </ion-input>
        </ion-item>

        <ion-row responsive-sm>
          <ion-col>
            <button ion-button (click)="onUpdate(accountForm);presentLoading()" type="submit" block>Update</button>
          </ion-col>

        </ion-row>

      </ion-list>
    </form>

  </div>

  <div padding-top text-center *ngIf="!fname">
    <img src="http://www.gravatar.com/avatar?d=mm&s=140" alt="avatar">
    <h2>{{fname}}</h2>

    <form #accountForm="ngForm" novalidate>
      <ion-list no-lines>
        <ion-item>
          <ion-label stacked color="primary">First Name</ion-label>
          <ion-input [(ngModel)]="fname" name="fname" type="text" #user="ngModel" spellcheck="false" autocapitalize="off" required>
          </ion-input>
        </ion-item>
        <p ion-text [hidden]="fname || submitted == false" color="danger" padding-left>
          First name is required
        </p>

        <ion-item>
          <ion-label stacked color="primary">Last Name</ion-label>
          <ion-input [(ngModel)]="lname" name="lname" type="text" #user="ngModel" spellcheck="false" autocapitalize="off" required>
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-label stacked color="primary">Email</ion-label>
          <ion-input [(ngModel)]="email" name="email" type="email" #user="ngModel" required>
          </ion-input>
        </ion-item>
        <p ion-text [hidden]="email || submitted == false" color="danger" padding-left>
          Email is required
        </p>




        <ion-item>
          <ion-label stacked color="primary">Phone</ion-label>
          <ion-input [(ngModel)]="mobile" name="mobile" type="numeric" #user="ngModel" required>
          </ion-input>
        </ion-item>
        <p ion-text [hidden]="mobile || submitted == false" color="danger" padding-left>
          Phone is required
        </p>


        <ion-item>
          <ion-label stacked color="primary">Password</ion-label>
          <ion-input [(ngModel)]="pass" name="pass" type="password" #user="ngModel" required>
          </ion-input>
        </ion-item>
        <p ion-text [hidden]="pass || submitted == false" color="danger" padding-left>
          Password is required
        </p>


        <ion-item>
          <ion-label stacked color="primary">Address</ion-label>
          <ion-input [(ngModel)]="address1" name="address1" type="text" #user="ngModel" required>
          </ion-input>
        </ion-item>

        <ion-row responsive-sm>
          <ion-col>
            <button ion-button (click)="onUpdate(accountForm);presentLoading()" type="submit" block>Update</button>
          </ion-col>

        </ion-row>

      </ion-list>
    </form>

  </div>
</ion-content>