<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>Sign Up</ion-title>
	</ion-navbar>
</ion-header>

<ion-content class="outer-content">
	<div padding-top text-center >
		<img src="http://www.gravatar.com/avatar?d=mm&s=140" alt="avatar">
		<h2>Create Account</h2>

		<form #signupForm="ngForm" novalidate>
			<ion-list no-lines>
				<ion-item>
					<ion-label stacked color="primary">First Name</ion-label>
					<ion-input [(ngModel)]="user.fname" name="fname" type="text" #fname="ngModel" spellcheck="false" autocapitalize="off" required>
					</ion-input>
				</ion-item>
				<p ion-text [hidden]="fname.valid || submitted == false" color="danger" padding-left>
					First name is required
				</p>

				<ion-item>
					<ion-label stacked color="primary">Last Name</ion-label>
					<ion-input [(ngModel)]="user.lname" name="lname" type="text" #lname="ngModel" spellcheck="false" autocapitalize="off" required>
					</ion-input>
				</ion-item>

				<ion-item>
					<ion-label stacked color="primary">Email</ion-label>
					<ion-input [(ngModel)]="user.email" name="email" type="email" #email="ngModel" required>
					</ion-input>
				</ion-item>
				<p ion-text [hidden]="email.valid || submitted == false" color="danger" padding-left>
					Email is required
				</p>




				<ion-item>
					<ion-label stacked color="primary">Phone</ion-label>
					<ion-input [(ngModel)]="user.mobile" name="mobile" type="numeric" #mobile="ngModel" required>
					</ion-input>
				</ion-item>
				<p ion-text [hidden]="mobile.valid || submitted == false" color="danger" padding-left>
					Phone is required
				</p>

				<ion-item>
					<ion-label stacked color="primary">Password</ion-label>
					<ion-input [(ngModel)]="user.pass" name="pass" type="password" #pass="ngModel" required>
					</ion-input>
				</ion-item>
				<p ion-text [hidden]="pass.valid || submitted == false" color="danger" padding-left>
					Password is required
				</p>


				<ion-item>
					<ion-label stacked color="primary">Address</ion-label>
					<ion-input [(ngModel)]="user.address1" name="address1" type="text" #address1="ngModel" required>
					</ion-input>
				</ion-item>

				<ion-row responsive-sm>
					<ion-col>
						<button ion-button (click)="onSignup(signupForm);presentLoading()" type="submit" block>Signup</button>
					</ion-col>
				</ion-row>

			</ion-list>
		</form>

	</div>
	
</ion-content>